.nav-icon {
  position: relative;
  width:44px;
  height:37px;
  background-color: #000;

  &__bars {
    position: absolute;
    top: 13px;
    left: 13px;
  }
}

.icon-bar1, .icon-bar2, .icon-bar3 {
  width: 17px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  transition: 0.4s;

}

.change {
  &.icon-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  &.icon-bar2 {
    opacity: 0;
  }
  &.icon-bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}
