<header class="header">
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li class="header-nav__item">
                <a href="#" class="header-nav__link">home</a>
            </li>
            <li class="header-nav__item">
                <a href="#" class="header-nav__link">about us</a>
            </li>
            <li class="header-nav__item">
                <a href="#" class="header-nav__link">our journal</a>
            </li>
            <li class="header-nav__item">
                <a href="#" class="header-nav__link">projects</a>
            </li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">news</a>
            </li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">features</a>
            </li>
            <li class="header-nav__item"><a href="#" class="header-nav__link">contact</a>
            </li>
        </ul>
        <a href="" class="">
            <div class="nav-icon header-nav__icon">
                <div class="nav-icon__bars">
                <div class="icon-bar1"></div>
                <div class="icon-bar2"></div>
                <div class="icon-bar3"></div>
                </div>
            </div>
        </a>
    </nav>

</header>