<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Sasha Korkh">
    <meta name=""
          content="">
   <!-- <link rel="stylesheet" href="dist/css/reset.min.css">-->
    <link rel="stylesheet" href="dist/css/style.min.css">
    <title>@@title</title>
</head>